.icon-container{
    background-color: #efefF0;
    border: 1px solid #AFB1B6;
    width: 150px;
    height: 150px;
    align-items: center;
    margin: auto;
    border-radius: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon-container i{
    font-size: 1.5rem;
    color: #68737D;
}